#sidebar-nav {
    /*
    position: sticky;
    top: 4rem;
    */
    margin-top: 1em;
    height: calc(100vh - 4rem);
    overflow-y: auto;
    font-size: .75rem;
}

#sidebar-nav h1 { font-size: 1em; }

.section-nav {
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #eee;
}

.section-nav ul { padding-left: 1rem; }
.section-nav li { display: block; }
.section-nav a { display: block; padding: .125rem .5rem; color: #99979c; }
.section-nav span { display: block; padding: .125rem .5rem; color: #99979c; }

blockquote.spell,
blockquote.feat,
blockquote.trait {
    border: solid 1px #666;
    padding: 0.5rem;
}

blockquote.spell h3,
blockquote.feat  h3,
blockquote.trait h3 {
    font-size: 1.4rem;
    margin: -.5rem;
    margin-bottom: 0;
    padding: .3rem;
    background-color: #666;
    color: #fff;
}

blockquote.spell p:last-child,
blockquote.feat  p:last-child,
blockquote.trait p:last-child {
    margin-bottom: 0
}