<nav id="sidebar-nav">
    <h1>Menu principal</h1>
    <ul class="section-nav">
        <li>
            <span>Personnages Iconiques</span>
            <ul>
                <li><a href="{{ '/iconiques/fumbus.html' | relative_url }}">Fumbus l'alchimiste</a></li>
                <li><a href="{{ '/iconiques/kyra.html' | relative_url }}">Kyra la prêtresse</a></li>
            </ul>
        </li>
    </ul>
    <h1>Menu secondaire</h1>
    <ul class="section-nav">
        <li>
            <span>Classes</span>
            <ul>
                <li><a href="/classes/alchimiste.html">Achimiste</a></li>
            </ul>
        </li>
        <li>
            <span>Personnages icôniques</span>
            <ul>
                <li><a href="/iconiques/fumbus.html">Fumbus</a></li>
            </ul>
        </li>
    </ul>
</nav>