---
layout: default
---
<div class="summary">
    <h3>En bref...</h3>
    <ul>
        <li><strong>Caractéristique principale</strong> : {{page.keyAbility}}</li>
        <li><strong>Points de vie</strong> : {{page.hp}} plus votre modificateur de Constitution</li>
        <li><strong>Perception</strong> : {{page.profPerception}}</li>
        <li>
            <strong>Jets de sauvegarde</strong>
            <ul>
                <li><strong>Réflexes</strong> : {{page.profReflex}}</li>
                <li><strong>Vigueur</strong> : {{page.profFortitude}}</li>
                <li><strong>Volonté</strong> : {{page.profWill}}</li>
            </ul>
        </li>
        <li>
            <strong>Compétences</strong>
            <ul>
                <li>Entraîné dans ({{page.skills}} + modificateur d'Intelligence) compétences</li>
                <li>Compétences de signature : {{page.signatureSkills | join: ", "}}</li>
            </ul>
        </li>
        <li>
            <strong>Armes</strong> : {{page.weapons}}
        </li>
        <li>
            <strong>Armures</strong> : {{page.armor}}
        </li>
        {% if page.spells %}
        <li>
            <strong>Sorts</strong> : {{page.spells}}
        </li>
        {%- endif -%}
    </ul>
</div>

{{ content }}

<h2 id="dons-de-classe">Dons de classe</h2>

{% assign nomclasse = page.title | downcase %}
{% assign dons = site["donsclasse"] | where_exp: "don", "don.traits contains nomclasse" %}

{% capture title %}
Dons de classe ({{nomclasse}})
{% endcapture %}

{% include feat-table.html tableTitle=title sortByLevel=true %}

