---
layout: default
---
{{ content }}
{% assign my_collection = site[page[collection]] | sort: 'title' %}
<table class="table table-sm">
    <thead class="thead-light">
    <tr>
        <th>Nom</th>
        {% for col in page.cols %}
            <th
                {% if col.info %}
                title=" {{col.info}} "
                {%- endif -%}
             > {{col.title}} </th>
        {%- endfor -%}
        {% if page.includeSource %}
            <th>Source</th>
        {%- endif -%}
    </tr>
    </thead>
    <tbody>
    {% for item in my_collection %}
        <tr>
            <td><a href="{{ item.url }}">{{ item.title }}</a></td>
            {% for col in page.cols %}
                <td>
                {% if col.isMultiline %}
                    {% for row in col.rows %}
                        {% if row != col.rows.first %}
                            <br/>
                        {%- endif -%}
                        <strong>{{ row.title }}</strong> :
                        {{ item[row.attribute] }}
                    {%- endfor -%}
                {% elsif col.isAList %}
                    {{ item[col.attribute] | join: col.separator }}
                {% else %}
                    {{ item[col.attribute] }}
                {%- endif -%}
                </td>
            {%- endfor -%}
            {% if page.includeSource %}
                <td> {{item.source}} </td>
            {%- endif -%}
        </tr>
    {%- endfor -%}
</tbody>
</table>
